<!-- processos/graficos.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar Gráficos</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{% static 'images/logo1.png' %}" alt="Logo Dr. Analytic" class="logo">
        </div>
    </header>

    <h1 class="text-center" style="font-weight: bold;">Resultados da Busca</h1>

    <div class="container">
        <!-- Exibindo o gráfico gerado -->
        <div class="text-center">
            <h2>Gráfico Gerado</h2>
            <img src="data:image/png;base64,{{ graphic_data }}" alt="Gráfico gerado" class="img-fluid">
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
